*{
  box-sizing: border-box;

}

body header{

  height: 100px;
  width: 100%;
  background-color: black;

}

.div_logoHeader{
  /* border: 3px solid red; */
  display:flex;
  justify-content: center;
}

.div_logoHeader img{
  /* border: 3px solid green; */
  max-height: 100px;
}





