

<body>
  <header>

              <div class="div_logoHeader">
                <img class="img_logo" src="/assets/img/logo4.png" alt="">
              <div class="div_a">
                  <a routerLink="home">Home</a>
                  <a href="https://drive.google.com/file/d/1wFRo47p6Owsq8GmT_urYPv6XZJSr-UEn/view?usp=sharing">Mi CV</a>
                  <a routerLink="skills">Skills</a>
                  <a routerLink="projects">Proyectos</a>
                  <a routerLink="contact">Contacto</a>
              </div>
              </div>


</header>
</body>
