<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<body>
<div class="inicio">

  <div class="titulo">
    <h1>Conoce mi stack en detalle</h1>
    <p *ngIf="showMessage" class="mensaje show">Pasa el ratón por la habilidad que buscas</p>
  </div>




  <div class="skill__1">
    <i class="fa-brands fa-js"></i>
    <span>JavaScript</span>
  </div>
  <div class="description">
    <p>Mi historia con JavaScript es algo de lo que me siento totalmente orgulloso, ya que fue el primer lenguaje que aprendí y
      gracias al cual me hice programador. Es por tanto en el que más cómodo me siento y en el que más experiencia tengo. Lo sigo usando
      hoy en día ya que además de útil me resulta sumamente intuitivo y práctico. JavaScript no solo me ha permitido dar vida a sitios web dinámicos, sino que también ha sido la fuerza impulsora detrás de numerosas aplicaciones web y móviles que he desarrollado. Su comunidad activa y la abundancia de bibliotecas y marcos de trabajo hacen que siempre haya algo nuevo que aprender y aplicar.
    </p>
  </div>

  <div class="skill__2">
    <i class="fa-brands fa-node"></i>
    <span>NODE JS </span>
  </div>
  <div class="description">
    <p>Manejo NODE JS desde que di mis primeros pasos en programación. Lo considero una herramienta fundamental a la hora de
      construir aplicaciones, especialmente en la parte de Back-End, aunque también lo utilizo en Front. Su rapidez y facilidad de uso
    hacen que sea mi primera elección a la hora de tabajar. Tanto Node JS como framework y JavaScript como lenguaje, fueron parte de mis comienzos, por lo que trabajo
  ambos a un nivel similar.</p>
  </div>

  <div class="skill__1">
    <i class="fa-brands fa-angular"></i>
    <span>Angular</span>
  </div>
  <div class="description">
    <p>Definitivamente mi framework preferido para trabajar SPA y el que utilicé para crear este portafolio. Entre mis principales habilidades
      podría destacar:
      <br>
      <br>

      - Comunicación entre Componentes: Diseño arquitecturas eficientes para facilitar una comunicación fluida entre componentes,
      mejorando la modularidad y el rendimiento del código.
      <br>

      - Gestión de Formularios: Experiencia en el desarrollo de formularios robustos, garantizando una validación precisa y
      la manipulación eficiente de datos.
      <br>

      - RxJS: Utilizo RxJS de manera experta para gestionar flujos de datos de manera reactiva, asegurando aplicaciones
      altamente responsivas y escalables.
      <br>

      - NgRx y Gestión de Estado: Implementación efectiva de NgRx para la gestión coherente y previsible del estado,
      fundamental en el desarrollo de aplicaciones complejas.
      <br>
      <br>

      Además, abarco aspectos avanzados como la optimización de rendimiento, lazy loading, manejo de rutas complejas y la integración eficiente de bibliotecas externas.
      Mi enfoque se centra en la eficiencia y calidad del código, garantizando el éxito en el desarrollo de aplicaciones.
    </p>
  </div>

  <div class="skill__2">
    <i class="fa-brands fa-html5"></i>
    <span>HTML5</span>
  </div>
  <div class="description">
    <p>Mi relación con HTML5 se forjó hace ya dos años, desde mis primeros pasos en el mundo de la programación. Considero que HTML5 es una herramienta esencial en el desarrollo web, ya que su versatilidad y facilidad de
      uso lo convierten en mi elección predilecta tanto para la construcción del Front-End como para el Back-End.
      La capacidad de esta tecnología para incorporar elementos multimedia, como audio y video, sin necesidad de plugins adicionales, ha revolucionado la experiencia de usuario en la web. De igual forma, su compatibilidad con dispositivos móviles lo
      convierte en una elección inteligente en un mundo cada vez más centrado en la movilidad.</p>
  </div>

  <div class="skill__1">
    <i class="fa-brands fa-css3-alt"></i>
    <span>CSS3</span>
  </div>
  <div class="description">
    <p>Mi relación con CSS3 se extiende por varios años, y durante ese tiempo, he llegado a apreciar su poder en la creación de diseños web atractivos y receptivos. La flexibilidad de CSS3 y sus características avanzadas, como las transiciones y
      las animaciones, me han permitido elevar la estética y la usabilidad de mis proyectos web de manera significativa.</p>
  </div>

  <div class="skill__2">
    <i class="fa-brands fa-react"></i>
    <span>React JS</span>
  </div>
  <div class="description">
    <p>Como entusiasta de React JS, he experimentado el potencial de esta biblioteca de JavaScript en la construcción de aplicaciones web interactivas y de alto rendimiento.
      Su enfoque en la creación de componentes reutilizables y su arquitectura basada en el flujo de datos unidireccional son aspectos que han facilitado mi trabajo y mejorado la calidad de mis proyectos.</p>
  </div>

  <div class="skill__1">
    <i class="fa-brands fa-vuejs"></i>
    <span>Vue JS</span>
  </div>
  <div class="description">
    <p>Vue JS ha sido una adición valiosa a mi conjunto de habilidades como desarrollador Full-Stack. Con su enfoque intuitivo en la creación
      de interfaces de usuario dinámicas, Vue JS me ha permitido desarrollar aplicaciones web de manera más eficiente y efectiva.
      Cabe destacar que la simplicidad de Vue y su comunidad activa son dos aspectos que me han inspirado en mi trabajo diario.</p>
  </div>

  <div class="skill__2">
    <i class="fa-brands fa-windows"></i>
    <span>.NET 7 & C#</span>
  </div>
  <div class="description">
    <p>Mi experiencia con .NET 7 y C# abarca varios proyectos de desarrollo de software.
      La robustez de la plataforma .NET y la versatilidad del lenguaje C# me han permitido crear aplicaciones de
      alto rendimiento y escalables. La integración de .NET con herramientas de desarrollo y la solidez de C# en términos de seguridad y eficiencia son aspectos que valoro profundamente.</p>
  </div>

  <div class="skill__1">
    <i class="fa-solid fa-database"></i>
    <span>MySQL</span>
  </div>
  <div class="description">
    <p>Mi experiencia con MySQL se ha ido desarrollando a lo largo de mi carrera como desarrollador Back-End. Esta base de datos relacional ha demostrado ser confiable y eficiente en la gestión de grandes conjuntos de datos. La facilidad de uso de MySQL, su amplia compatibilidad y su sólido soporte para
      transacciones han sido esenciales en la construcción de sistemas y aplicaciones que requieren un almacenamiento de datos robusto.</p>
  </div>
  <br>
  <br>
  <br>
</div>


</body>
