<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<body>
<section id="inicio" class="inicio">

    <div class="contenedor-banner">
      <div class="contenedor-img">
        <img src="../../../assets/img/pruebafinal.png" alt="">
      </div>
      <h1>MARCEL SOTO</h1>
      <h2>Full Stack Developer</h2>
      <div class="redes">
        <a href="https://www.linkedin.com/in/marceldeveloper/"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://github.com/Marcelcoder01"><i class="fa-brands fa-github"></i></a>
        <a routerLink="/contact"><i class="fa-brands fa-whatsapp"></i></a>
        <a routerLink="/contact"><i class="fa-solid fa-envelope"></i></a>


      </div>
      <p class="skill-tech">Front-End</p>
<div class="skills">
  <div class="skills__bar-container">

    <div class="skills__bar" [style.width]="progress + '%'"></div>
  </div>
</div>
<p class="skill-tech2">Back-End</p>
<div class="skills2">
  <div class="skills__bar-container2">
    <div class="skills__bar2" [style.width]="progress2 + '%'"></div>
  </div>
</div>
    </div>
    <div class="texto-about">
      <p class="text-big">"El conocimiento y las habilidades suman, la actitud multiplica"</p>
      <p class="text-small">Disfruto asumiendo desafíos y aportando un rendimiento óptimo de
        manera constante, siempre priorizando los valores de respeto,
        honestidad y  profesionalismo.
      <br>
      <br>
      Como programador Full-Stack soy capaz de trabajar tanto en Back-End como en Front-End, siento que ambas partes tienen su encanto aunque
      si me dieran a elegir uno de las dos, sería sin dudas Front.
    </p>
    <p class="text-small2">
      Parte de mi stack:
    </p>
      <div class="icons-skills">


        <i class="fa-brands fa-js"></i>
        <span class="icon-description">JavaScript</span>

        <i class="fa-brands fa-html5"></i>
        <span class="icon-description">HTML5</span>

        <i class="fa-brands fa-css3-alt"></i>
        <span class="icon-description">CSS3</span>

        <i class="fa-brands fa-node"></i>
        <span class="icon-description">Node JS</span>

        <i class="fa-brands fa-angular"></i>
        <span class="icon-description">Angular</span>

        <i class="fa-brands fa-react"></i>
        <span class="icon-description">React JS</span>

        <i class="fa-brands fa-vuejs"></i>
        <span class="icon-description">Vue JS</span>

        <i class="fa-brands fa-windows"></i>
        <span class="icon-description">.NET 7 & C#</span>
      </div>
    </div>
</section>
</body>


