<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<body>
  <div class="inicio">
    <div class="titulo">
        <h1>Mis Proyectos</h1>
    </div>

    <div class="contenedores">

      <div class="contenedor-banner">
        <div class="contenedor-img">
          <img src="../../../assets/img/tunetales.jpg" alt="">
        </div>
        <h1>TuneTales App</h1>
        <h2>La Red Social para Músicos!</h2>
        <div class="boton">
          <a href="https://github.com/EsterSJ/TuneTales"> Dale un vistazo!</a>
        </div>
        <h3>Utilicé:</h3>
        <div class="icons">
          <i class="fa-brands fa-angular"></i>
          <i class="fa-brands fa-node"></i>
          <i class="fa-brands fa-js"></i>
          <i class="fa-brands fa-html5"></i>
          <i class="fa-brands fa-css3-alt"></i>
          <i class="fa-brands fa-aws"></i>
          <i class="fa-solid fa-database"></i>
        </div>
      </div>

      <div class="contenedor-banner">
        <div class="contenedor-img">
          <img src="../../../assets/img/Portfolio.jpg" alt="">
        </div>
        <h1>Portfolio</h1>
        <h2>Explora mi código!</h2>
        <div class="boton">
          <a href="https://github.com/Marcelcoder01/Portfolio"> Dale un vistazo!</a>
        </div>
        <h3>Utilicé:</h3>
        <div class="icons">
          <i class="fa-brands fa-angular"></i>
          <i class="fa-brands fa-js"></i>
          <i class="fa-brands fa-html5"></i>
          <i class="fa-brands fa-css3-alt"></i>
        </div>
      </div>
    </div>

    <div class="contenedores">

      <div class="contenedor-banner">
        <div class="contenedor-img">
          <img src="../../../assets/img/tienda.jpg" alt="">
        </div>
        <h1>Tienda Online</h1>
        <h2>Ropa urbana Marxop!</h2>
        <div class="boton">
          <a href="https://tienda-online-alpha.vercel.app/"> Dale un vistazo!</a>
        </div>
        <h3>Utilicé:</h3>
        <div class="icons">
          <i class="fa-brands fa-angular"></i>
          <i class="fa-brands fa-node"></i>
          <i class="fa-brands fa-js"></i>
          <i class="fa-brands fa-html5"></i>
          <i class="fa-brands fa-css3-alt"></i>
          <i class="fa-solid fa-bag-shopping"></i>

        </div>
      </div>

      <div class="contenedor-banner">
        <div class="contenedor-img">
          <img src="../../../assets/img/under.jpg" alt="">
        </div>
        <h1>Coming Soon!</h1>
      </div>

    </div>


    <br>
  </div>

</body>







